In [8]:
import numpy as np
from matplotlib import pyplot as plt

In [9]:
import pandas as pd

In [10]:
iris=pd.read_csv('C:/Users/VAIO/Downloads/iris dataset/iris.csv')

In [11]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
y = iris[['SepalLengthCm']]

In [13]:
x = iris[['SepalWidthCm']]

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [16]:
x_train.head()

     SepalWidthCm
57            2.4
25            3.0
0             3.5
93            2.3
118           2.6

In [17]:
x_test.head()

     SepalWidthCm
26            3.4
79            2.6
70            3.2
119           2.2
19            3.8

In [18]:
y_train.head()

     SepalLengthCm
57             4.9
25             5.0
0              5.1
93             5.0
118            7.7

In [19]:
y_test.head()

     SepalLengthCm
26             5.0
79             5.7
70             5.9
119            6.0
19             5.1

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lr=LinearRegression()

In [22]:
lr.fit(x_train,y_train)

LinearRegression()

In [25]:
y_pred=lr.predict(x_test)

In [26]:
y_test.head()

     SepalLengthCm
26             5.0
79             5.7
70             5.9
119            6.0
19             5.1

In [28]:
y_pred[0:5]

array([[5.8516887 ],
       [6.0063558 ],
       [5.89035547],
       [6.08368934],
       [5.77435515]])

In [29]:
from sklearn.metrics import mean_squared_error

In [30]:
mean_squared_error(y_test,y_pred)

0.6029474635134008

In [32]:
# model_2

In [35]:
y = iris[['SepalLengthCm']]

In [36]:
x = iris[['SepalWidthCm','PetalLengthCm','PetalWidthCm']]

In [38]:
x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.3)

In [39]:
lr2=LinearRegression()

In [40]:
lr2.fit(x_train,y_train)

LinearRegression()

In [41]:
y_pred=lr2.predict(x_test)

In [42]:
mean_squared_error(y_test,y_pred)

0.10073143098021128